@page "/articles"
@attribute [StreamRendering]
@inject ISender Sender

<PageTitle>Articles</PageTitle>

<a href="/article-editor" class="btn btn-primary" > Create New Article</a>

@if (articles.Count == 0)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var article in articles)
    {
        <h4>@article.Title</h4>
        <p>@article.Content</p>
        <small>@article.DatePublished</small>
        <a href="/article-editor/@article.Id">Edit</a>
    }

}


@code {
    private List<ArticleResponse> articles = new ();

    protected async override Task OnInitializedAsync()
    {

        // await Task.Delay(1000); // Fake Delay...

        var result = await Sender.Send(new GetArticlesQuery());
        if (result is not null)
        {
            articles = result;
        }
    }
}
