@inherits LayoutComponentBase

<div class="page">

    <main>
        <div class="top-row px-4">

            <NavLink class="nav-link" href="/">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>
                Articles
            </NavLink>


            <AuthorizeView>                
                <Authorized>
                    <NavLink class="nav-link" href="logout">
                        Logout
                    </NavLink>
                </Authorized>

                <NotAuthorized>
                    <NavLink class="nav-link" href="register">
                        Register
                    </NavLink>
                    <NavLink class="nav-link" href="login">
                        Login
                    </NavLink>
                </NotAuthorized>                
            </AuthorizeView>
            
            <AuthorizeView>
                <span class="p-4">Logged in: @context.User.Identity?.Name</span>
            </AuthorizeView>

        </div>
        <div class="container">
            <article class="content">
                @Body
            </article>
        </div>
    </main>

</div>
